{% extends "base.html" %}

{% block content %}

    <div class="col-8">

        {% if "create" in request.path %}
            <h1 class="mt-4">新規作成</h1>
        {% else %}
            <h1 class="mt-4">編集</h1>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary">送信</button>

            {% if "create" in request.path %}
                <a href="{% url "index" %}" class="btn btn-secondary">キャンセル</a>
            {% else %}
                <a href="{% url "detail" post.id %}" class="btn btn-secondary">キャンセル</a>
            {% endif %}
        </form>
    </div>

{% endblock %}
