{% extends "base.html" %}

{% block content %}

    <div class="col-8">

        <h1 class="mt-4">削除の確認</h1>

        <p class="text-danger">本当に削除してもよろしいですか？</p>

        <form method="post">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">削除</button>
            <a href="#" class="btn btn-secondary">キャンセル</a>
        </form>
    </div>

{% endblock %}